* {
	font-family: 'Lobster', cursive;
	font-weight: 100;
}
h1 {
	
	background-color: darkgray;
	padding: 100px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 2em;
	
}

html {
	background-image: linear-gradient(80deg, green 50px, lightblue 20px, red 10px, pink)
}

p,li,h2 {
	color: #000;
	text-align: center;

}

h1 {
	text-align: center;
	padding: 20px 50px;
}

p {
	text-align: center;
	padding: 5px
}

h2 {
	color: #070ff7;
}


img {
	display: block;
	margin: 0px auto;
	height: 250px;
	padding: 10px 10px 10px 20px;
	border-radius: 2em;
	box-sizing: border-box;

}

a {
	background-color: hotpink;
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 2em;
}